<nav class="navbar navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="#">goeuvre</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/gallery']">gallery</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="https://www.godhran.com/">portfolio</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="https://twitter.com/Gorodhran">twitter</a></li>
            </ul>
        </div>
    </div>
</nav>