<div class="goeuvre-container">
    <div class="form-container">
        <form method="post">
            <h1>Gallery</h1>
            <ul class="list-unstyled">
                <li *ngFor="let piece of galleryList"><a ngClass="galleryLink" role="presentation" [routerLink]="['/', piece.slug]">{{piece.name}}</a></li>
            </ul>
        </form>
    </div>
</div>


<!-- <li><a ngClass="galleryLink" role="presentation" [routerLink]="['/gudetama']">Gudetama</a></li>
<li><a ngClass="galleryLink" role="presentation" [routerLink]="['/cactuar']">Cactuar</a></li> -->